/*  ----- min-width: 768px ----- */


@media screen and (min-width: 768px) {

  /* ===== HEADER ===== */
  /*===== NAV =====*/
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    position: initial;
    /* ili static */
    width: auto;
    height: auto;
    display: block;
    background: none;
    padding: 0;
    right: auto;
    /* ukloni right: -100% */
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-3);
    margin-bottom: 0;
  }

  #nav-toggle {
    display: none;
  }

  .nav__link {
    color: var(--text-color);
  }

    /*===== NAJAM OPREME =====*/
      .rental-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}




/* ----- min-width: 991px ----- */


@media screen and (min-width: 991px) {

  /* ===== HEADER ===== */
  .hero {
    height: 600px;
  }

  .hero__logo {
    width: 500px;
  }

  /* ===== EQUIPMENT ===== */
  .equipment__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  /* ===== PAKETI ===== */
  .packages__container {
    grid-template-columns: repeat(3, 1fr);
  }

  /*===== NAJAM OPREME =====*/
    .rental-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}