/* ===== CSS JE ZA MOBILNU 480px ===== */

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 500;
  --smaller-font-size: 0.8rem;

  --first-color: #1F3A44;
  --second-color: #FFF;
  --text-color: black;


  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-fixed: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: var(--header-height);
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== NAV =====*/

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  /* obavezno da ne bude proziran */
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 200;
}

.nav__logo img {
  height: 33px;
  width: auto;
  position: relative;
  bottom: 2px;
}

/* ===== HAMBURGER TOGGLE ===== */
#nav-toggle {
  width: 18px;
  /* širina hamburgera */
  height: 15px;
  /* visina hamburgera */
  display: flex;
  flex-direction: column;
  /* crtice jedna ispod druge */
  justify-content: space-between;
  /* razmak između crtica */
  cursor: pointer;
  position: relative;
  z-index: 300;

}

#nav-toggle span {
  display: block;
  height: 3px;
  /* debljina crtica */
  width: 100%;
  /* pun width toggle div-a */
  background-color: #000;
  /* boja crtica */
  border-radius: 2px;
  /* zaobljeni rubovi */
  transition: all 0.3s ease;
  /* za kasnije animacije */
}

.nav__menu {
  position: fixed;
  top: 3rem;
  top: var(--header-height);
  right: -100%;
  width: 80%;
  height: 100%;
  padding: 2rem;
  background-color: var(--first-color);
  transition: .5s;
  z-index: 100;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 1.5rem;
  background-color: var(--first-color);
}

.active-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 1.5rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero__logo {
  height: auto;
  /* raste unutar sekcije */
  width: 200px;
  object-fit: contain;
}

/* ===== SKILLS =====*/
.equipment {
  max-width: 1200px;
  margin: 0 auto;
  scroll-margin-top: calc(var(--header-height) + 1.5rem);
}

.equipment__container {
  text-align: center;
  display: grid;
  margin-left: var(--mb-6);
  margin-right: var(--mb-6);
  gap: var(--mb-2);
  margin-bottom: 2rem;
}

.equipment__container a {
  display: block;
  width: 100%;
}

.equipment__subtitle {
  margin-bottom: var(--mb-4);
  text-align: center;
  color: var(--first-color);
}

.equipment__text {
  margin: var(--mb-6);
  text-align: center;
}

.equipment__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-1);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  transition: transform .3s ease;
}

.equipment__data:hover {
  transform: scale(1.03);
}


.equipment__name {
  display: flex;
  align-items: center;
  color: var(--first-color);
}

/* ===== PAKETI ===== */
.packages {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--mb-6) var(--mb-3);
  scroll-margin-top: calc(var(--header-height) + 1.5rem);
}

.packages__title {
  text-align: center;
  margin-bottom: var(--mb-5);
  color: var(--first-color);
}

.packages__container {
  display: grid;
  gap: var(--mb-4);
}

.packages__container h3 {
  color: var(--first-color);
}

.packages__container p {
  color: var(--first-color);
}

.packages__card {
  display: block;
  padding: var(--mb-4);
  border-radius: .75rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  transition: transform .3s ease;
}

.packages__card:hover {
  transform: scale(1.03);
}

.packages__name {
  margin-bottom: var(--mb-2);
}

.packages__text {
  margin-bottom: var(--mb-3);
}

.packages__price {
  font-weight: 600;
  color: var(--first-color);
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-2);
}

.footer__social {
  margin-bottom: var(--mb-2);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__tel {
  margin-bottom: var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== SCROLL TOP BUTTON ===== */
.scroll-top {
  position: fixed;
  right: 1.2rem;
  bottom: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border-radius: 12%;
  border: 3px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: var(--z-fixed);
}








/* ===== NAJAM OPREME ===== */

.page-header {
  margin-top: var(--header-height);
  text-align: center;
}
.rental {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.rental-category {
  margin-bottom: 4rem;
}

.rental-category__title {
  margin-bottom: 2rem;
  text-align: center;
}

.rental-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* 1 u redu */
  gap: 1.5rem;
}

.rental-item {
  text-align: center;
}

.rental-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.rental-item h3 {
  margin-bottom: 0.5rem;
}

.rental-item p {
  font-weight: 600;
}